*venv/
/backend/src/flaskr/__pycache__/*
/backend/src/flaskr/database/__pycache__/*
/backend/src/migrations/__pycache__/*
/backend/src/migrations/versions/__pycache__/*


backend/src/.ENV
backend/src/.flaskenv
backend/src/flaskr/auth/__pycache__/__init__.cpython-311.pyc
backend/src/flaskr/auth/__pycache__/auth.cpython-311.pyc
backend/src/flaskr/auth/__pycache__/auth.cpython-311.pyc
backend/src/flaskr/auth/__pycache__/__init__.cpython-311.pyc

foodplanner-frontend/auth_config.json
