<mat-toolbar color="primary">Rezepte</mat-toolbar>
<button mat-fab	color="primary" (click)="openFormFunction()">
    <mat-icon>add</mat-icon>
</button>
<button mat-button color="primary" (click)="loadReceipes()">
    update
</button> 
<mat-list>
    <mat-list-item *ngFor="let item of receipeItems"><p (click)="openReceipe(item.id)">{{item.name}}</p></mat-list-item>
</mat-list>  
<div [hidden]="!openForm" >
    <div class="receipeInput">
        <mat-card>
        <div class="ingredients">
            <mat-list>
                <mat-list-item *ngFor="let item of receipeIngredients">{{item.name}}: {{item.amount}} {{item.unit}}</mat-list-item>
            </mat-list>
            <form #newIngredient="ngForm" class="ingredientForm" (ngSubmit)="submitIngredient(newIngredient)">
                <mat-form-field class="nameOfReceipe">
                    <mat-label>Amount</mat-label>
                    <input matInput placeholder="500" name="amount" ngModel>
                </mat-form-field>
                <mat-form-field class="nameOfReceipe">
                    <mat-label>Unit</mat-label>
                    <input matInput placeholder="gram" name="unit" ngModel>
                </mat-form-field>
                <mat-form-field class="nameOfReceipe">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Nudeln" name="name" ngModel>
                </mat-form-field>
                <br>
                <button mat-button color="primary" type="submit">Add Ingredient</button>
            </form>
        </div>
        <form #newReceipe="ngForm" class="receipeForm" (ngSubmit)="submitReceipe(newReceipe)">
            <mat-form-field class="nameOfReceipe">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Spaghetti" name="name" ngModel>
            </mat-form-field>
            <br>
            <mat-form-field class="nameOfReceipe" >
                <mat-label>Receipe</mat-label>
                <textarea matInput placeholder="Boil in hot water" name="receipe" ngModel></textarea>
            </mat-form-field>
            <br> 
        </form>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="submitReceipe(newReceipe)">Add to Database</button>
            <button mat-button color="primary" (click)="closeCreation(newIngredient, newReceipe)">Cancel</button>
        </mat-card-actions>
    </mat-card>
    </div>
</div>
<div [hidden]="!showReceipe">
    <mat-card class="receipeDetails">
        <mat-card-title>{{currentReceipe.name}}</mat-card-title> 
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let item of receipeIngredients">{{item.name}}: {{item.amount}} {{item.unit}}</mat-list-item>
            </mat-list>
            <p>{{currentReceipe.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary">Edit</button>
            <button mat-button color="warn" (click)="deleteReceipe()">Delete</button>
            <button mat-raised-button color="primary" (click)="closeReceipe()">Close</button>
        </mat-card-actions>
    </mat-card>
</div>